[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=krita_banana
X-Python-2-Compatible=false
Name=Krita Banana by LiuYang
Comment=A test plugin for Krita.
